{% extends 'snippets/base.html' %}

{%block content %}
<h1>
{%if entry%}
	Edit entry {{entry.entry_id}}
{%else%}
	Add day
{%endif%}
</h1>
<form method='post' action='/your_days/'>
{% csrf_token %}
	<div class='form-group col-md-6'>
		<label for='start_time'>Start</label>
		<input id='start_time' type='datetime-local' class="form-control" id='start_date' value='{%if entry%}{{entry.start_time|date:"Y-m-d"}}T{{entry.start_time|date:"H:i"}}{%else%}{% now "Y-m-d"%}T09:00{%endif%}' name='start_time'/><!--{% now "Y-m-d"%}T09:00-->
		<br>
		
		<label for='end_time'>End</label>
		<input id='end_time' type='datetime-local' class="form-control" value='{%if entry%}{{entry.end_time|date:"Y-m-d"}}T{{entry.end_time|date:"H:i"}}{%else%}{% now "Y-m-d"%}T17:00{%endif%}' name='end_time' />
		
	</div>
	<div class='form-group col-md-6'>
	
		<label for='location1'>Location1</label>
		<input id='location1' class="form-control" type='text'  name='loc1' value='{{entry.location1}}'></input><br>
		<label for='location2'>Location2</label>
		<input id='location2' class="form-control" type='text' name='loc2' value='{{entry.location2}}'></input><br>
		
	</div>
	<div class='form-group col-md-6'>
		<table>
			<tr>
				<td><label for='popweek'>Populate remaining week?</label> 
				<td><input id='popweek' type='checkbox'  name='popweek' value='True'></input><br>
			<tr>
				<td><label for='daytype'>Day type?</label>
				<td><select id='daytype' name='daytype'>
						<option value='standard'>Standard</option>
				</select>
		</table>
	</div>
	<div class='form-group col-md-6'>
	 	<input type='hidden' name='editmode' value='{%if entry%}{{entry.entry_id}}{%else%}False{%endif%}'></input><br>
		<button class='btn btn-primary' type='submit' name='submit' value='Submit'>Submit</button>
		<button class='btn btn-primary' type='rest' value='reset' name='reset' >Cancel</button>
		<!--<a href={%url 'your_days'%}><button class='btn btn-primary'>Abort</button></a>-->
	</div>
</form>


{%endblock%}